---
layout: base.njk
---


<div class="w3-container w3-teal">
  <h4>Contact Us</h4>
</div>
<form class="w3-container w3-card-4 w3-light-grey" name="contact" action="/thanks" method="POST" data-netlify="true" >
  <p>
    Please send us a message by filling out the form below:</p>
  <p>
    <label for="name" class="w3-text-gray w3-small">Your Name</label> <input id="name" type="text" class="w3-input w3-border" name="name" />
  </p>
  <p>
    <label class="w3-text-gray w3-small">Your Email</label><input type="email" class="w3-input w3-border" name="email" />
  </p>
  <p>
    <label class="w3-text-gray w3-small">Message</label> <textarea class="w3-input w3-border" name="message" style="resize:none"></textarea>
  </p>
  <p>
    <button type="submit" class="w3-btn w3-padding w3-teal" style="width:120px">Send &nbsp; ❯</button>
  </p>
</form>
<p>&nbsp;</p>
<div class="w3-container w3-teal">
  <h4>Submit a challenge time</h4>
</div>
<div class="w3-container w3-card-4 w3-light-grey w3-border-32">
    <p>Submit a challenge time</a>
    <p>
    <a href='/submit-time' class="w3-btn w3-padding w3-teal">Submit a time &nbsp; ❯</a>
  </p>
</div>