<!DOCTYPE html>
<html lang="en">
{% include "components/header.njk" %}
<body>

<!-- Navbar -->
{% include "components/navbar.njk" %}

<!-- Page content -->

<!-- First Grid -->
<div class="w3-row-padding w3-padding w3-container" style="margin-top:46px;">
  <div class="w3-content">
    <h1>{{ title }}</h1>
    <p>{{ content | safe }}</p>
    <a href="{{ course }}" class="w3-btn w3-white w3-border w3-border-teal w3-text-teal w3-round-large">Course Information</a>
    <a href="#leader" class="w3-btn w3-white w3-border w3-border-red w3-text-red w3-round-large">Leader Board</a>
    <a href="#runs" class="w3-btn w3-white w3-border w3-border-red w3-text-red w3-round-large">All Runs</a>
    <a href='/submit-time' class="w3-btn w3-white w3-border w3-border-teal w3-text-teal w3-round-large">Submit a time &nbsp; ❯</a>
    <h3 id="leader">Leader Board</h3>
    
    <div class="w3-responsive">
      <span class="w3-opacity">Click on columns to sort</span>
      <table class="sortable w3-table w3-border w3-striped">
      <thead class="w3-teal">
      <tr>
        <th>Pos</th>
        <th>Name</th>
        <th>Club</th>
        <th>Cat</th>
        <th>Time</th>
        <th>Boat</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      {% set index = 1 %}
      {% for race in collections.competitors| getFastestTime( event_id)  %}
          <tr>
          <td>{{ race.position }}{{ race.eq }}</td>
          <td><a href="{{ race.page }}">{{ race.name }}</a></td>
          <td>{{ race.club}}</td>
          <td>{{ race.cat }}</td>
          <td>{{ race.time }}</td>
          <td>{{race.boat }}</td>
          <td>{{ race.date }}</td>
          </tr>
          {% set index = index + 1 %}
      {% endfor %}
      </tbody>
      </table>
    </div>
    <p class="w3-opacity">{{ index-1 }} {% if index-1 > 1 %} paddlers. {% else %} paddler.{% endif %}
  
    <h3 id="runs">All Runs</h3>

    <div class="w3-responsive">
      <span class="w3-opacity">Click on columns to sort</span>
      <table class="sortable w3-table w3-border w3-striped">
      <thead class="w3-teal">
      <tr>
        <th>Pos</th>
        <th>Name</th>
        <th>Club</th>
        <th>Cat</th>
        <th>Time</th>
        <th>Boat</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      {% set index = 1 %}
      {% for race in collections.competitors| getAllTime( event_id)  %}
          <tr>
          <td>{{ race.position }}{{ race.eq }}</td>
          <td><a href="{{ race.page }}">{{ race.name }}</a></td>
          <td>{{ race.club}}</td>
          <td>{{ race.cat }}</td>
          <td>{{ race.time }}</td>
          <td>{{race.boat }}</td>
          <td>{{ race.date }}</td>
          </tr>
          {% set index = index + 1 %}
      {% endfor %}
      </tbody>
      </table>
    </div>
    <p class="w3-opacity">{{ index-1 }} {% if index-1 > 1 %} entries. {% else %} entry.{% endif %}
  </div>
</div>


<div class="w3-center w3-content">
  {% for event in collections.timetrials %}
  <a href="{{event.page.url}}" 
     class="w3-btn w3-border w3-border-teal {% if page.url == event.page.url %} w3-teal  w3-text-white {% else %} w3-white w3-border-teal w3-text-teal {% endif %} w3-round-large">
     {{ event.data.title }}</a> 

  {% endfor %}
</div>

<div class="w3-content" style="max-width:2000px;margin-top:46px">

<!-- Footer -->
{% include "components/footer.njk" %}
<!-- End Page Content -->
</div>
<script src="/public/js/sorttable.js"></script>
<script>
var toggleElement = false;
function show(element){
  if (toggleElement){
    document.getElementById(element).style.display = "";
  }
  else {
    document.getElementById(element).style.display = "none";
  }
  toggleElement = !toggleElement;
}

// swipe support

var urlList = [];
{% for event in collections.timetrials %}
  urlList.push() = event.page.url;
{% endif %}
var slideIndex = 1;
showDivs(slideIndex);

function swipeLeft() {
  slideIndex == slideIndex - 1;
  showEvent()
}

function swipeRight() {
  slideIndex == slideIndex + 1;
  showEvent()
}

function showEvent(){
  if (slideIndex < 0) { slideIndex = urlList.length() }
  if (slideIndex > urlList.length) { slideIndex = 0 }
  window.location.href = urlList[slideIndex];
}


var start = null;
window.addEventListener("touchstart",function(event){
  if(event.touches.length === 1){
    //just one finger touched
    start = event.touches.item(0).clientX;
  }else{
      //a second finger hit the screen, abort the touch
      start = null;
  }
});

window.addEventListener("touchend",function(event){
  var offset = 100;//at least 100px are a swipe
  if(start){
    //the only finger that hit the screen left it
    var end = event.changedTouches.item(0).clientX;

    if(end > start + offset){
      //a left -> right swipe
    }
    if(end < start - offset ){
      //a right -> left swipe
    }
  }
});


</script>

</body>
</html>